@import "../values/colors.css";

body {
    margin-top: 0;
}

#logo {
    display: block;
    margin: 0 auto 0 auto;
}

header {
    padding: 30px;
    background-color: var(--background-logo-color);
    box-shadow: 4px 4px 4px #0003;
}