@import "values/colors.css";
@import "values/dimens.css";

html, body {
    min-height: 100%;
}

body {
    background-image: linear-gradient(
            var(--top-gradient-color),
            var(--middle-gradient-color),
            var(--bottom-gradient-color)
    );
}

h1 {
    font-size: var(--title-size);
}

p {
    text-align: justify;
    font-size: var(--paragraph-size);
}

#logo {
    display: block;
    margin: 0 auto 0 auto;
}

#container {
    max-width: 970px;
    margin: 0 auto 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.curiosidade {
    background: url("../midia/imgs/favo-de-mel.png");
    border: 1px solid var(--curiosity-border-color);
    max-width: 70%;
    margin: 0 auto 0 auto;
    padding: 20px;
    border-radius: 8px;
}

p.curiosidade img {
    float: left;
    margin-right: 20px;
}